@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --adm-color-primary: #ffcd6b;
  --adm-color-warning: black;
  --adm-color-danger: black;
  --adm-color-success: #ffcd6b;
}

.adm-button:not(.adm-button-default) {
  --text-color: black;
  --background-color: #ffcd6b;
}

body{
  font-family: 'Gothic A1', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}